<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Little Linguist</title>
  
</head>
<body>
  <header>
    <div class="menu-button">
      <button class="dropbtn"><img src="../../assets/menu-icon.ico" alt="menu-button-Icon">
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Manage</a>
        <a href="#">Game</a>
      </div>
    </div>
    <div class="app-name"><h1>Little Linguist</h1></div>
    <div class="user-icon">
      
      <img src="../../assets/user-icon.ico" alt="User-Icon">
    </div>
  
  </header>
</body>
</html>