<div class="container">
    <div class="center-content">

        <div class="headline">
            <h1>Mixed Letters - {{this.selectedCategory.name}}</h1>

        </div>
        <div>
            <app-quit-game></app-quit-game>
            <mat-icon>monetization_on</mat-icon> {{this.points}}
            <app-timer duration={{this.gameTime}} (reportTimeLeft)="reportTimeLeftHandler($event)" > </app-timer>
        </div>

        <form #gameForm="ngForm" (ngSubmit)="check_answer()">

        <div>
            <mat-label>{{this.categoryWords[this.step].target}}</mat-label>
        </div>
        <div>
            <mat-label>{{this.mixedLettersWords.get(this.categoryWords[this.step].origin)}}</mat-label>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Guess: </mat-label> 
                <input matInput  [(ngModel)]="this.categoryWords[this.step].guess" placeholder="Enter the sorted word" name="guessInput" required>

                <textarea matInput  ></textarea>
            </mat-form-field>        
        </div>
        <div class="buttons">
            <button cdkFocusInitial mat-button type="reset">Reset</button>
            <button cdkFocusInitial mat-button type="submit" >Submit</button>
        </div>
        <br><br>
        <div class="progressBar">
            <mat-progress-bar mode="determinate" 
            value="{{(this.step) / this.categoryWords.length * 100 }}"></mat-progress-bar> 
        </div>    
        </form>
    </div>
</div>    


